<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/gsharma/Desktop/Books/Selenium/qaAPIassesment_v1/src/test/resources/testrunner">
        <classes>
            <class name="com.freenow.qa.tests.UserAPITest"></class>
            <class name="com.freenow.qa.tests.PostsAPITest"></class>
            <class name="com.freenow.qa.tests.CommentsAPITest"></class>
        </classes>
    </test>
</suite>